.cast {
  padding-top: 20px;
  padding-bottom: 20px;
}
.swiper {
  padding: 20px;
}
.cardWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.name {
  font-size: 14px;
}
.role {
  font-size: 14px;
  text-align: center;
}
