body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  padding-left: 20px;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

